body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container */
.container {
  text-align: center;
}

/* Search */
.search-box {
  margin: 20px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: yellow;
  color: black;
}

/* Weather Card */
.weather-card {
  background: rgba(255,255,255,0.1);
  padding: 25px;
  border-radius: 15px;
  width: 250px;
  margin: auto;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}